
/* CSS DOCUMENT */

body {
  height: 100%;
    background-color: rgb(255, 255, 250);
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

.logo {
    max-width: 50em;
    margin: auto;
    
}

.homepic {
    max-width: 80em;
    margin: auto;
}

nav li{
    display: inline;
    text-transform: uppercase;
    float: center;
    font-family: 'Helvetica', sans-serif; 
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    display: inline-block;
    position: center;
    padding: 1em;
    margin-bottom: 1.5em;
    
}

nav a:hover {
  color: #980E0E;
}

nav ul{
    list-style-type: none;
    text-align: center;
	margin-bottom: 0;
    padding-left: 0;  
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    width: 80%;
}

.home h1 {
    font-family: 'Bebas Neue';
	text-align: center;
    color: #000000;
    font-size: 3em;
    
}

.home h2{
    color: #000000;
    font-size: 1em;
    font-family: 'Helvetica', sans-serif;
    font-weight: 530;
    margin: 2em auto 3em;
    line-height: 2em;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    max-width: 50em;
}


footer {
    position: relative;
	bottom: 0em;
	left: 0;
	right: 0;
	padding: 0;
	width: 100%;
}


footer h3{
    text-align: center;
    color: #980E0E;
    font-family: 'Helvetica', sans-serif;
    font-size: 1em; 
    font-weight: 550; 
    font-style: italic;
    text-transform: uppercase;
    margin-top: 4.5em;
}

.menupic {
    max-width: 80em;
    margin: auto; 
}

.menu {
    max-width: 40em;
    margin: auto;
}

.menu h1 {
    font-family: 'Bebas Neue';
	text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

.menu h2 {
    font-family: 'Helvetica', sans-serif;
    padding-bottom: 0.3em;
    margin-top: 2em;
    margin-bottom: 1em;
    text-transform: uppercase;
    color: #980E0E;
    text-align: left;
   
}

.menu ul {
    padding: 0;
    list-style: none;
    font-family: 'Helvetica', sans-serif;
    align-content: center;

}


.menu li {
	font-family: 'Helvetica', sans-serif; 
	line-height: 1em;
    list-style-type: none;
	padding-bottom: .2em;
    padding-right: 2em;
    padding-left: 2em;
    text-align: left;
  
} 
.menu h3 {
    text-align: left;
    font-family: 'Helvetica', sans-serif;  
     margin-top: 0;
    align-content: center;

}

.menu h4 {
    text-align: left;
    font-family: 'Helvetica', sans-serif;  
    font-weight: normal;
     margin-top: 0;
    align-content: center;
    line-height: normal;

     
}

.menu p {
    text-align: left;
    font-family: 'Helvetica', sans-serif;  
    color: #980E0E;
    margin-top: 0;
    align-content: center;
    padding-bottom: 1.5em;
    
}


.hours h1 {
	 font-family: 'Bebas Neue';
	text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
    
}

.hours h2 {
	font-family: 'Helvetica', sans-serif; 
	text-transform: uppercase;
	text-align: center;
    margin-right: .5em;
    margin-left: .5em;
    margin-bottom: auto;
    margin-top: 1.5em;
    
}


.hours ul {
	padding-left: 1.5em;
    margin-right: .5em;
    margin-left: .5em;
    padding-right: 1.5em;
}

.hours li {
	font-family: 'Helvetica', sans-serif; 
	line-height: 1em;
    list-style-type: none;
	padding-bottom: .2em;
    padding-right: 2em;
    padding-left: 2em;
    text-align: center;
}

.hour p {
	font-family: 'Helvetica', sans-serif; 
    text-align: center;
}

.hourspic {
     max-width: 80em;
    margin: auto;
}

.locations h1 {
    font-family: 'Bebas Neue';
	text-align: center;
    font-size: 3em;
     margin-bottom: 1em;
    
}

.locations h2 {
	font-family: 'Helvetica', sans-serif; 
	text-transform: uppercase;
	text-align: center;
    margin-right: .5em;
    margin-left: .5em;
    margin-bottom: auto;
    margin-top: 1.5em;
    
}

.locations p {
	font-family: 'Helvetica', sans-serif; 
    text-align: center;
}

.locationpic {
     max-width: 80em;
    margin: auto;
}


.googlemap {
    margin: 4em auto;
    text-align: center;
    width: 60%;   
}




